PORT=5001
MEDIASOUP_LISTEN_IP=0.0.0.0
MEDIASOUP_ANNOUNCED_IP=127.0.0.1
# Replace MEDIASOUP_ANNOUNCED_IP with your computer's local IP for mobile app access
# Example: MEDIASOUP_ANNOUNCED_IP=192.168.1.15
MEDIASOUP_MIN_PORT=2000
MEDIASOUP_MAX_PORT=2020
